 :root {
     --bg-color: #1C1C1E;
     --text-color: #E0E0E0
 }

 /*Header styles*/
 /*ADDED COLORS*/
 header {
     /* background-color: var(--bg-color); */
     background-color: #2C3E50;
     color: var(--text-color);
     height: 10vh;
     display: flex;
 }

 /*Nav styles*/
 nav {
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin: auto;
     /* color: var(--text-color); */
     font-size: 1.3rem
 }

 nav a {
     color: var(--text-color);
     transition: 0.3s ease-in-out;
 }

 nav a:hover {
     background-color: #3498DB;
     padding: 5px 10px;
     border-radius: 5px;
 }

 .links-container a {
     margin: 0 15px;
     text-decoration: none;
 }

 /*Header intro styles*/
 /*ADDED COLORS*/
 .home-main-container {
     /* background-color: var(--bg-color); */
     background-color: #ECF0F1;
     height: 80vh;
 }

 .intro {
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin: auto;
     height: 60%;
     align-items: center;
     /* color: var(--text-color) */
     color: #34495E;
 }

 .home-btn-container {
     width: 100%;
     text-align: center;
 }

 .home-btn-container a {
     color: #2980B9;
 }


 .intro-container a {
     margin: 0px 10px;
     text-decoration: none;
     font-size: 1.1rem;
 }

 .intro-container {
     width: 50%;
 }

 .intro-name,
 .intro-job-title {
     font-size: 3rem;
     font-weight: bold;
 }

 .intro-name {
     margin: 0;
 }

 .intro-img .profile-img {
     border-radius: 50px;
     /* height: 100px;
     width: 100px; */
 }

 .intro-img {
     margin-top: 100px;
 }


 /*btn styles*/


 /*about-me section styles*/

 .about-me-container {
     height: 100vh;
     background-color: var(--bg-color);
     color: var(--text-color);
 }

 .about-me-container .about-intro {
     text-align: center;
     padding-top: 50px
 }

 .about-me-container .about-intro h2 {
     font-size: 2rem;
 }

 .about-me-container .about-intro p {
     font-size: 1.8rem
 }

 .tech-container {
     display: flex;
     width: 70%;
     margin: auto;
     height: 50%;
     align-items: center;
 }


 /*Contact form styles*/
 .form-section {
     height: 80vh;
     background-color: #ECF0F1;
     color: #34495E;
     padding-top: 75px;
 }

 .form-container {
     width: 30%;
     margin: auto;
 }

 .form-container h1,
 p {
     text-align: center;
 }

 .input-div input,
 textarea {
     width: 100%;
     background-color: var(--text-color);
     border-color: #BDC3C7;
     border-radius: 7px;
     padding: 5px 10px;
     margin: 5px;
 }

 .input-div textarea {
     resize: none;
 }

 .send-btn {
     background-color: #1ABC9C;
     /* box-shadow: 2px 2px 2px 2px #00ffff34; */
     padding: 8px 16px;
     border-radius: 5px;
     border: none;
     font-weight: 600;
     font-size: 1.2rem;
 }

 .send-btn:hover {
     background-color: #16A085;
 }

 /*Resume section styles*/
 .resume-section {
     height: 80vh;
     background-color: #ECF0F1;
     color: #34495E;
 }

 .resume-section p {
     font-size: 1.2rem;
 }

 .resume-section h3 {
     font-size: 2rem;
 }

 .resume-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 30px 0;
 }

 .skills-container {
     display: flex;
     justify-content: center;
     gap: 50px;
 }

 .skill {
     border: 2px solid #BDC3C7;
     /* box-shadow: 2px 2px 2px 2px #00ffff34; */
     padding: 10px 20px;
     border-radius: 10px;
     width: 25%;
 }

 .skill h3 {
     text-align: center;
 }

 .skills-container li {
     list-style: none;
 }

 .skills-intro {
     width: 70%;
     margin: auto;
 }

 .download-btn {
     background-color: #1ABC9C;
     /* box-shadow: 2px 2px 2px 2px #00ffff34; */
     padding: 8px 16px;
     border-radius: 5px;
     border: none;
     font-weight: 600;
     font-size: 1.2rem;
 }

 .download-btn:hover {
     background-color: #16A085;
 }

 /*portfolio page styles*/
 .projects-section {
     background-color: #ECF0F1;
     color: #34495E;
     min-height: 100vh;
     padding: 20px 0 50px 0;
 }

 .project-container {
     display: flex;
     border: 2px solid #BDC3C7;
     /* box-shadow: 2px 2px 2px 2px #00ffff34; */
     margin-bottom: 50px;
     padding: 20px;
 }


 .project h2 {
     text-align: center;
 }

 .project {
     width: 60%;
     margin: auto;
     text-align: center;
 }

 .project a {
     margin: 0 5px;
 }

 .projects-section .container {
     width: 70%;
 }


 .project-img {
     width: 135px;
     height: 135px;
     align-self: center;
 }

 .project-container a {
     text-decoration: none;
     color: #2980B9
 }

 /*ADDED COLOR*/
 footer {
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: #2C3E50;
     color: var(--text-color);
     /* background-color: var(--bg-color);
     color: var(--text-color); */
     height: 10vh;

 }

 footer a {
     text-decoration: none;
     margin: 0 5px;
     color: var(--text-color);
 }

 /*Light purple: #BB86FC; */