 :root {
     --bg-color: #1C1C1E;
     --text-color: #E0E0E0
 }

 /*Header styles*/
 header {
     background-color: var(--bg-color);
     height: 10vh;
     display: flex;
 }

 /*Nav styles*/
 nav {
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin: auto;
     color: var(--text-color);
     font-size: 1.3rem
 }

 nav a {
     color: var(--text-color);
 }

 .links-container a {
     margin: 0 15px;
     text-decoration: none;
 }

 /*Header intro styles*/
 .home-main-container {
     background-color: var(--bg-color);
     height: 90vh;
 }

 .intro {
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin: auto;
     height: 60%;
     align-items: center;
     color: var(--text-color);
 }

 .intro-text a {
     margin: 0px 10px;
     text-decoration: none;
     font-size: 1.1rem;
 }

 .intro-container {
     width: 50%;
 }

 .intro-name,
 .intro-job-title {
     font-size: 3rem;
     font-weight: bold;
 }

 .intro-name {
     margin: 0;
 }

 /*btn styles*/


 /*about-me section styles*/

 .about-me-container {
     height: 100vh;
     background-color: var(--bg-color);
     color: var(--text-color);
 }

 .about-me-container .about-intro {
     text-align: center;
     padding-top: 50px
 }

 .about-me-container .about-intro h2 {
     font-size: 2rem;
 }

 .about-me-container .about-intro p {
     font-size: 1.8rem
 }

 .tech-container {
     display: flex;
     width: 70%;
     margin: auto;
     height: 50%;
     align-items: center;
 }


 /*Contact form styles*/
 .form-section {
     height: 90vh;
     background-color: var(--bg-color);
     color: var(--text-color);
 }

 .form-container {
     width: 30%;
     margin: auto;
 }

 .form-container h1,
 p {
     text-align: center;
 }

 .input-div input,
 textarea {
     width: 100%;
 }

 .input-div textarea {
     resize: none;
 }

 /*Resume section styles*/
 .resume-section {
     height: 90vh;
     background-color: var(--bg-color);
     color: var(--text-color);
 }

 .resume-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 50px 0;
 }

 .skills-container {
     display: flex;
     justify-content: center;
     gap: 50px;
     text-align: center;
 }

 .skills-container li {
     list-style: none;
 }

 /*Light purple: #BB86FC; */