 :root {
     --bg-color: #1C1C1E;
     --text-color: #E0E0E0
 }

 /*Header styles*/
 header {
     background-color: var(--bg-color);
     height: 10vh;
     display: flex;
 }

 /*Nav styles*/
 nav {
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin: auto;
     color: var(--text-color);
     font-size: 1.3rem
 }

 nav a {
     color: var(--text-color);
 }

 .links-container a {
     margin: 0 15px;
     text-decoration: none;
 }

 /*Header intro styles*/
 .home-main-container {
     background-color: var(--bg-color);
     height: 90vh;
 }

 .intro {
     display: flex;
     justify-content: space-between;
     width: 70%;
     margin: auto;
     height: 60%;
     align-items: center;
     color: var(--text-color);
 }

 .intro-text a {
     margin: 0px 10px;
     text-decoration: none;
     font-size: 1.1rem;
 }

 .intro-container {
     width: 50%;
 }

 .intro-name,
 .intro-job-title {
     font-size: 3rem;
     font-weight: bold;
 }

 .intro-name {
     margin: 0;
 }

 /*btn styles*/


 /*Light purple: #BB86FC; */